.wfstep{
    background-color: #fff;
    box-shadow: 0 1px 2px 1px #ccc;
    padding: 10px 15px;
}
.fileviewer .wizard{
    height: 150px;
    border: none;
    overflow: visible !important;
}
.fileviewer .acts{
    height: 30px;
    overflow: visible !important;
    padding: 6px 5px;
    text-align: right;
}
.fileviewer .acts .dropdown-menu li{
    padding: 5px;
}
.fileviewer .acts .dropdown-menu{
    width: 250px;
}
.fileviewer #outerContainer {
    height: calc((100%) - 150px);
}
.fileviewer .wizard.wizard-wired ul li .step {
    background-color: #ffffff;
    border-width: 2px;
    font-size: 15px;
    height: 26px;
    line-height: 22px;
    width: 26px;
    z-index: 2;
}
.fileviewer .wizard.wizard-wired ul li .more{
    line-height: normal !important;
}
.fileviewer .record-cancel{
    position: absolute;
    right: 5px;
    top: 5px;
}
.fileviewer .wizard.wizard-wired ul li.complete .step::before {
    font-size: 15px;
    line-height: 22px;
}
.fileviewer .wizard.wizard-wired{
    padding-top: 0;
}
.form-group .delMember{
    color: gray;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 20px;
    top: 8px;
}
.member .form-control-feedback.glyphicon-ok,
.member .form-control-feedback.glyphicon-remove{
    display: none !important;
}
.fileviewer .tab-content{
    display: inline-block;
    height: calc((100%) - 36px);
    padding: 0;
    position: absolute;
    width: 100%;
}
.fileviewer .nav-tabs{
    height: 36px;
    overflow: hidden;
    width: 100%;
}
.fileviewer .nav-tabs li a,
.fileviewer .nav-tabs > li.active > a:hover, 
.fileviewer .nav-tabs > li.active > a:focus{
    margin: 0;
}
.fileviewer .tab-pane{
    height: 100%;
    background-color: #fff;
}