@{
    var categoryTypes = ((List<CategoryType>)ViewBag.CategoryTypes
                         ?? new List<CategoryType>()).OrderBy(x => x.Weight).ToList();
    string strUrl = Request.Url.ToString().ToLower();
}
<div class="sidebar-header-wrapper hidden">
    <input type="text" class="searchinput" placeholder="@Locate.T("Tìm kiếm")" />
    <i class="glyphicon orange glyphicon-search"></i>
    <div class="searchhelper">@Locate.T("Tìm kiếm")</div>
</div>
<ul class="nav sidebar-menu useScrollBar">
   
        @Html.Partial("Left_HTReport")

</ul>